.vs
AppCore/bin
AppCore/obj
Application/bin
Application/obj
Infrastructure/bin
Infrastructure/obj
ParkingTest/bin
ParkingTest/obj
TestResults
WebApplication1/bin
WebApplication1/obj
WebApp.csproj.user